
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.wawe {
background-image: url(../img/wawe-new\ \(2\).jpg);
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
}
.container {
width: 1200px;
margin: 0 auto;
}
.logo {

}
.link {
color: white;




}
.link:hover {
    border-bottom: 1px solid #00b2a0;
}
.wawe-box {
margin: 200px auto;
width: max-content;
text-align: center;
}
.wawe-text {
    color: #000;
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}